@import '../src/assets/styles/variable.scss';
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%; // 1rem == 10px
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (max-width: 900px) {
    font-size: 59.5%;
  }

  @media (max-width: 700px) {
    font-size: 55.5%;
    overflow: scroll;
  }
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 5rem;
}
.container {
  margin-inline: auto;
  max-width: 1400px;
  width: 1000px;
  @media screen and (max-width: 1500px) {
    max-width: 1300px;
  }
  @media screen and (max-width: 1400px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 1350px) {
    max-width: 1000px;
  }
  @media screen and (max-width: 1050px) {
    max-width: 800px;
  }
  @media screen and (max-width: 850px) {
    max-width: 600px;
  }
  @media screen and (max-width: 650px) {
    max-width: 100%;
    padding: 2rem;
  }
}
body {
  background: $Very-dark-blue;
  font-family: $font-family;
}
.parent {
  width: 85%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: grid;
  margin: 9vh auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'header Work Play Study'
    'header Exercise Social SelfCare';
  height: 100%;
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 180px);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    margin: 3vh auto;
    grid-template-areas:
      'header'
      'Work'
      'Play'
      'Study'
      'Exercise'
      'Social'
      'SelfCare';
    height: 100vh;
  }
}
.header {
  min-width: 20rem;
  min-height: 25rem;
  background: $Dark-blue;
  border-radius: 2rem;
  grid-area: header;
  display: flex;
  flex-direction: column;
  // margin-bottom: 2rem;
  @media screen and (max-width: 800px) {
    min-height: auto;
  }
  .profile {
    background: $Desaturated-blue;
    background-repeat: no-repeat;
    border-radius: 2rem;
    padding-block: 4rem;
    padding-inline: 4rem;
    height: 35rem;
    @media screen and (max-width: 800px) {
      padding-block: 0rem;
      height: 17rem;
      display: flex;
      column-gap: 2rem;
      align-items: center;
    }
    .profile-image {
      width: 10rem;
      border: 0.3rem solid $color-white;
      border-radius: 50%;
      margin-bottom: 4rem;
      @media screen and (max-width: 800px) {
        margin-bottom: 0rem;
      }
    }
    .content {
      p {
        color: $Pale-Blue;
        font-size: 1.2rem;
        font-weight: 200;
      }
      h1 {
        color: $color-white;
        text-transform: capitalize;
        font-size: 3rem;
        font-weight: 300;
        .jeremy {
          @media screen and (max-width: 800px) {
            display: none;
          }
        }
      }
    }
  }
  .calender {
    padding: 3rem;
    .calender-list {
      font-weight: 300;
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
      list-style: none;
      line-height: 1.8;
      li {
        .purple-link {
          color: $Desaturated-blue;
          font-size: 2rem;
          font-weight: 300;
          background: 0;
          cursor: pointer;
        }
        .white {
          background: 0;
          color: $color-white;
          font-size: 2rem;
          font-weight: 400;
          cursor: pointer;
        }
      }
      @media screen and (max-width: 800px) {
        flex-direction: row;

        justify-content: space-evenly;
      }
    }
    @media screen and (max-width: 800px) {
      padding-inline: 2rem;
      margin-inline: 2rem;
    }
  }
}

.card-wrapper {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 2rem;
  height: 23rem;
  background-repeat: no-repeat;
  background-position: right top;
  @media screen and (max-width: 800px) {
    height: 20rem;
  }
  &.Work {
    background-image: url(../src/assets/images/icon-work.svg);
    background-color: $Light-red-work;
    grid-area: Work;
  }
  &.Play {
    background-image: url(../src/assets/images/icon-play.svg);
    background-color: $Soft-blue-play;
    grid-area: Play;
  }
  &.Study {
    background-image: url(../src/assets/images/icon-study.svg);
    background-color: $Light-red-study;
    grid-area: Study;
  }
  &.Exercise {
    background-image: url(../src/assets/images/icon-exercise.svg);
    background-color: $Lime-green-exercise;
    grid-area: Exercise;
  }
  &.Social {
    background-image: url(../src/assets/images/icon-social.svg);
    background-color: $Violet-social;
    grid-area: Social;
  }
  &.SelfCare {
    background-image: url(../src/assets/images/icon-self-care.svg);
    background-color: $Soft-orange-self-care;
    grid-area: SelfCare;
  }
  .card {
    min-width: 20rem;
    min-height: 19rem;
    border-radius: 2rem;
    background: $Dark-blue;
    @media screen and (max-width: 800px) {
      min-height: 15rem;
    }
    .card-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 3rem;
      padding-inline: 2rem;
      h3 {
        font-size: 1.8rem;
        color: $color-white;
        font-weight: 200;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      h1 {
        color: $color-white;
        font-weight: 300;
        font-size: 4rem;
        margin-top: 3rem;
        padding-inline: 2rem;
        @media screen and (max-width: 800px) {
          font-size: 2.5rem;
        }
      }
      p {
        padding-inline: 2rem;
        margin-top: 1.5rem;
        color: $Pale-Blue;
        font-weight: 200;
        font-size: 1.5rem;
        @media screen and (max-width: 800px) {
          font-size: 2.5rem;
        }
      }
      @media screen and (max-width: 800px) {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
      }
    }
  }
}
